/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#players img {
    width: 80px;  /* Resim genişliğini 80px yap */
    height: 80px; /* Resim yüksekliğini 80px yap */
    border-radius: 50%;
    margin-right: 10px;
}

#teams {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#teams div {
    width: 45%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#teams img {
    width: 100px;  /* Takımlardaki resim genişliğini 80px yap */
    height: 100px; /* Takımlardaki resim yüksekliğini 80px yap */
    border-radius: 50%;
    margin-right: 10px;
}
